#sidebar{
  /* Definimos a largura da página*/
  width:50px;
  /* Definirmos a altura da página*/
  height:50px;
  /* Aqui definiremos a posição que a página ocupará na tela, nesse caso estamos definindo que fique centralizado na tela
  top : posição de cima */
  margin-top:10;
   /*left: posição de esquerda*/
  margin-left:auto;
  /* bottom : posição de baixo*/ 
  margin-bottom:0;
   /*right : posição de direita */
  margin-right:auto;
  /* Aqui definiremos a cor de fundo da página*/ 
  background-color:#A9A9A9;
}

/*#header{
  width:1000px; 
  height:100px;
  background-color:#A9A9A9;
  }*/
/*#conteudo{
  Novamente definimos a largura da div
  width:1000px;
   altura da div 
  height:500px;
   Cor de fundo da div 
  background-color:#0F0;  
} 
#footer{
  /*Novamente definimos a largura da div
  width:1000px;
  altura da div 
  height:100px;
 Cor de fundo da div 
  background-color:#C3C;
  }*/