/*.sidebar {
   position: absolute;
   top: 0;
   left: 0;
   background-color: skyblue;
   width: 255px;
   height: 100%;
   z-index: 3;
   box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
   transition: all ease 1s;
}
     
/*   
.left-menu > .top {
   width: 100%;
   height: 170px;
   background-color: skyblue;
   background-image: url("bg.jpg");
   background-size: 100% 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
        
.left-menu > .content {
   width: 100%;
   height: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
        
.left-menu > .content > div {
   margin-top: 30px;
   font-size: 15px;
   cursor: pointer;
}

/*#header{
  width:1000px; 
  height:100px;
  background-color:#A9A9A9;
  }*/
/*#conteudo{
  Novamente definimos a largura da div
  width:1000px;
   altura da div 
  height:500px;
   Cor de fundo da div 
  background-color:#0F0;  
} 
#footer{
  /*Novamente definimos a largura da div
  width:1000px;
  altura da div 
  height:100px;
 Cor de fundo da div 
  background-color:#C3C;
  }*/
.body {
   margin: 0;
   padding: 0;
}
        
.header {
   position: relative;
   width: 100%;
   height: 60px;
   background-color: deepskyblue;
}
 
.sandwich-wrapper {
   position: absolute;
   width: 40px;
   height: 40px;
   top: 10px;
   left: 20px;
   cursor: pointer;
}
 
.sandwich-wrapper > hr {
   width: 70%;
   border: 1px solid white;
}
 
